@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Newsreader:wght@400;500&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-inter: Inter;
  --font-newsreader: Newsreader;

  /* font sizes */
  --font-size-base: 16px;
  --font-size-xl: 20px;

  /* Colors */
  --color-white: #fff;
  --color-whitesmoke: #fafaf5;
  --color-gainsboro: #e6e6e6;
  --color-dimgray: #6d6d6d;
  --color-darkolivegreen: #426b1f;
  --color-black: #000;
  --color-silver: #c2c2c2;

  /* Border radiuses */
  --br-5xl: 24px;
  --br-xl: 20px;
}
